[submodule "natsu-shaders/ReShade"]
	path = natsu-shaders/ReShade
	url = https://github.com/crosire/reshade-shaders
[submodule "natsu-shaders/qUINT"]
	path = natsu-shaders/qUINT
	url = https://github.com/martymcmodding/qUINT
[submodule "natsu-shaders/ReshadeTFAA/Shaders"]
	path = natsu-shaders/ReshadeTFAA/Shaders
	url = https://github.com/JakobPCoder/ReshadeTFAA
[submodule "natsu-shaders/ReshadeMotionEstimation/Shaders"]
	path = natsu-shaders/ReshadeMotionEstimation/Shaders
	url = https://github.com/JakobPCoder/ReshadeMotionEstimation
[submodule "natsu-shaders/AstrayFX"]
	path = natsu-shaders/AstrayFX
	url = https://github.com/BlueSkyDefender/AstrayFX
[submodule "natsu-shaders/Glamarye"]
	path = natsu-shaders/Glamarye
	url = https://github.com/rj200/Glamarye_Fast_Effects_for_ReShade
[submodule "natsu-shaders/iMMERSE"]
	path = natsu-shaders/iMMERSE
	url = https://github.com/martymcmodding/iMMERSE
[submodule "natsu-shaders/ReshadeEffectShaderToggler"]
	path = natsu-shaders/ReshadeEffectShaderToggler
	url = https://github.com/4lex4nder/ReshadeEffectShaderToggler
